<div
  class="image"
  alt="Responsive image"
>

  <div fxLayout="column" >
      <div fxFlex fxLayoutAlign="center" style="margin-top:4rem;">
        <img src="../../../../assets/images/treeWoIcon.png">
      </div>
      <div fxFlex fxLayoutAlign="center center" style="margin-top:1rem;">
        <span class="textUno">
          Welcome to <span class="textDos">TreeWo</span> 
        </span>
      </div>
      <div fxFlex fxLayoutAlign="center center" style="margin-top:9px;">
        <span class="textTres">
          Showing Hope For <br>
          The Planet
        </span>
  
      </div>
      <div fxFlex fxLayoutAlign="center">
        <img src="../../../../assets/images/imagenBienvenida.png">
      </div>

      <div fxFlex fxLayoutAlign="center" style="margin-top:4rem ;">
        <button mat-raised-button class="colorButton" (click)="redirecLogin()" routerLink="./login">Get Started</button>
      </div>

      
      <div fxFlex fxLayoutAlign="center" style="margin-top:4rem ;">
        <span class="textCuatro">Already Have Account? <span class="textCinco" (click)="redirecLogin()">Sign in</span></span> 
      </div>
      
      
  </div>

</div>
